<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css"> 
  <!-- 因為我有使用use(express.static('public'))  他會自動將public資料夾作為預設靜態資料夾-->
  <title>Blog Austin | <%= title %></title>
</head>